
by been /* CSS Document */    
* {
	padding: 0px;
	margin: 0px;
	display: inline;
}

body {
	font-family: Verdana;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

div {
	border: none;
}

/*树样式开始*/
._z_tree_root {
	position: absolute;
	top: 1%;
	left: 40%;
	width: 280px;
	border:1px solid #d3d3d3;
	background: #fff;
	overflow: hidden;
	margin: 0px auto;
	text-align: center;
	box-shadow: 0px 0px 10px #999;
	z-index: 1999999998;
}

._z_tree_title {
	width:100%;
	float: left;
	height: 40px;
	line-height:40px;
	font: 14px "宋体";
	color: #333;
	overflow: hidden;
	text-align: center;
	border-bottom:solid 1px #d3d3d3;
}
._z_tree_title_text{
	line-height:40px;
	overflow: hidden;
	margin: 0px auto;
}
._z_tree_title_img{
	float: left;
	background: url(../img/tree_left_img.gif) no-repeat;
	margin-left:5px;
	margin-top:8px;
	width:15px;
	height: 15px;
	
}

._z_tree_seacher_box {
	float: left;
	width: 222px;
	height: 28px;
	overflow: hidden;
	margin: 13px 29px 0 29px;
	display: inline;
    margin-bottom: 5px;
}



._z_tree_header {
	float: left;
	width: 220px;
	overflow: hidden;
	height: 27px;
	border: 1px solid #dedede;
	text-align: center;
	font: bold 12px/27px "宋体";
	color: #333333;
	background: #f9f9f9;
	display: inline;
	margin-left: 29px;
	margin-right: 29px;
	cursor:pointer;
}

._z_tree_body {
	float: left;
	width: 220px;
	border: 1px solid #dedede; 
	border-top: 0px;
	background: #fff;
	height: 330px;
	margin: 0 29px;
	display: inline;
}

._z_tree_edit {
	float: left;
	width: 100%;
	height: 38px;
	background:#fff;
	text-align: right;
	margin-top: 13px;
	padding-top:10px;
	border-top: 1px solid #dedede;
}

._z_tree_edit input {
	float: none;
	margin-right: 10px;
	width: 62px;
	height: 28px;
	border: 0;
	margin-top: 6px;
	text-align: center;
	cursor: pointer;
}

/*
._z_tree_edit_clear {
	background:url(../images/box_bj.png) no-repeat 0px -41px;
	width:62px; 
	height:28px;
	line-height:28px;
	border:0; 
	vertical-align:middle; 
	color:#333;
	float:left; 
	font-size:12px;
}

._z_tree_edit_clear:hover{
	cursor: pointer;
	background:url(../images/box_bj.png) no-repeat -72px -41px; 
	width:62px; 
	height:28px; 
	line-height:28px; 
	border:0; 
	vertical-align:middle; 
	color:#666; 
	text-align:center; 
	box-shadow: 0px 0px 4px #ccc; 
	font-size:12px;
}*/

._z_tree_edit_clear{ background:url(../images/bg.png) repeat-x 0px -73px; height:26px; line-height:26px; border:solid 1px #b3b3b3; color:#333; text-align:center; margin-right:10px; float:right; padding-left:15px; padding-right:15px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
._z_tree_edit_clear:hover{border:solid 1px #9b9b9b; box-shadow: 0px 0px 4px #ccc; cursor:pointer;}/*弹出框专用通用按钮*/

._z_tree_edit_ok {
	width: 63px;
	height: 22px;
	background: url(../img/but_y_01.jpg) no-repeat;
	color: #fff;
	float: left;
}
/*遮罩DIV*/
._lock_div {
	position: absolute;
	top: 0px;
	filter:alpha(opacity=25);-moz-opacity:0.25;opacity:0.25;
	background-color: #777;
	z-index: 900;
	left: 0px;
	width: 100%;
	height: 100%;
}

._alert_div_root {
	width: 250px;
	position: absolute;
	top: 30%;
	left: 40%;
	border:4px solid #96b3d1;
	background: #fff;
	overflow: hidden;
	margin: 0px auto;
	text-align: left;
	z-index: 1999999998;
}

._alert_div_title {
	width: 100%;
	overflow: hidden;
	margin: 0px auto;
	float: left;
	height: 32px;
	line-height: 32px;
	font: bold 12px/32px "宋体";
	color: #896902;
	overflow: hidden;
	background: url(../img/tree_title_right.jpg);
	text-align: left;
}

._alert_div_title_text{
	overflow: hidden;
	margin: 0px auto;
	float: left;
	font: bolder 12px/32px "宋体";
	text-align: center;
	left:28px;
}
._alert_div_title_img{
	float: left;
	background: url(../img/tree_left_img.gif) no-repeat;
	margin-left:5px;
	margin-top:8px;
	width:15px;
	height: 15px;
}
._alert_div_title_close{
	background: url(../img/box_memu_close_over_this.gif) no-repeat;
	width: 15px;
	height: 15px;
	float: right;
	margin-top: 7px;
	right: 10px;
}

._alert_div_text {
	width: 85%;
	margin: 10px auto 0px;
	text-align: left;
	font: bolder 12px/25px "宋体";
	min-height: 80px;
}

._alert_div_edit_ok {
	width: 63px;
	height: 22px;
	background: url(../img/but_y_01.jpg) no-repeat;
	color: #896900;
	float: left;
}

._alert_div_edit {
	float: left;
	width: 100%;
	height: 34px;
	background: url(../img/t_bot.gif);
	text-align: right;
	margin-top: 13px;
}

._alert_div_edit input {
	float: right;
	margin-right: 10px;
	width: 63px;
	height: 22px;
	border: 0;
	margin-top: 6px;
	text-align: center;
	cursor: pointer;
}


/**左右树开始*/
.tree_box_opt {
	position: absolute;
	top: 1%;
	left: 30%;
	width: 620px;
	border:1px solid #d3d3d3;
	background: #fff;
	overflow: hidden;
	margin: 0px auto;
	text-align: center;
	z-index: 199999999;
}

.tree_box_opt_title {
	width:100%;
	float: left;
	height: 40px;
	line-height:40px;
	font: 14px "宋体";
	color: #333;
	overflow: hidden;
	text-align: center;
	border-bottom:solid 1px #d3d3d3;
}
.tree_box_opt_left_text{
	overflow: hidden;
	margin: 0px auto;
	float: left;
	font:14px/32px "宋体";
	text-align: center;
	width:90%;
	
	
}
.tree_box_opt_left_img{
	float: left;
	background: url(../img/tree_left_img.gif) no-repeat;
	margin-left:5px;
	margin-top:8px;
	width:15px;
	height: 15px;
	
}
.tree_box_left {
	width: 280px;
	float: left;
}

.tree_box {
	width: 280px;
	overflow: hidden;
	margin: 0px auto;
	text-align: center;
}

.seacher_box {
	float: left;
	width: 222px;
	height: 28px;
	overflow: hidden;
	margin: 13px 29px 0 29px;
	display: inline;
    margin-bottom: 5px;
}


._z_tree_seachter_input {
width:170px; height:24px; line-height:24px; vertical-align:middle; border:solid 1px #fff; color:#666; float:left;
}

._z_tree_seachter_input_div{width:183px; height:26px; float:left; border-left:solid 1px #b3b3b3; border-top:solid 1px #b3b3b3; border-bottom:solid 1px #b3b3b3;}

._z_tree_seachter_input_but {
width:36px; height:26px; float:left; background:url(../images/bg.png) repeat-x 0px -73px; border:solid 1px #b3b3b3; 
}
._z_tree_seachter_input_but a{width:36px; height:26px; float:left; background:url(../images/pic.png) no-repeat -17px -542px;}
._z_tree_seachter_input_but:hover{float:left; box-shadow: 0px 0px 4px #ccc; border-top:solid 1px #9b9b9b; border-right:solid 1px #9b9b9b; border-bottom:solid 1px #9b9b9b; }

.tree_left_title {
	float: left;
	width: 220px;
	overflow: hidden;
	height: 27px;
	border: 1px solid #dedede;
	text-align: center;
	font: bold 12px/27px "宋体";
	color: #333333;
	background: #f9f9f9;
	display: inline;
	margin-left: 29px;
	margin-right: 29px;
	cursor:pointer;
}
.tree_left_title10{ margin-top:-1px;}

.tree_left_body {
	float: left;
	width: 220px;
	border: 1px solid #dedede; 
	border-top: 0px;
	background: #fff;
	height: 330px;
	margin: 0 29px;
	display: inline;
}

.tree_box_mid {
	width: 100px;
	height: 100px;
	margin-top: 150px;
	float: left;
	text-align: left;
}

.tree_box_mid input {
	float: left;
	width: 73px;
	height: 26px;
	border: 0;
	margin-top: 20px;
	text-align: center;
	cursor: pointer;
}
.tree_box_mid_over{
	/*background: url(../img/seach_over.jpg) no-repeat;*/
}
.tree_box_mid_in{
	/*background: url(../img/seach_in.jpg) no-repeat;*/
}
._tree_div_title_close{
	background:url(../images/pic.png) no-repeat -89px -228px;
	width: 20px;
	height: 15px;
	float: right;
	margin-top: 13px;
	right: 0px;
	cursor:pointer;
}

.tree_mid_but {
	width: 73px;
	height: 26px;
	background: url(../images/box_bj.png) no-repeat -0px -475px;
	color: #666;
	float: left;
}

.tree_box_right {
	width: 222px;
	float: left;
}

.tree_box_right_text {
	float: left;
	width: 210px;
	height:30px;
	font: 12px/30px "宋体";
	text-align: left;
	color: #333;
	background:#f9f9f9;
	padding-left:10px;
	border: 1px solid #d3d3d3;
	margin-bottom:5px;
	margin-top:13px;
	
}

.tree_box_right_body {
	float: left;
	width: 220px;
	border: 1px solid #d3d3d3;
	background: #fff;
	height: 384px;
	display: inline;
	text-align: left;
	font: 12px/20px "宋体";
	OVERFLOW-Y: auto;
	overflow-x: auto;
	padding: 0px;
	scrollbar-arrow-color:#ffffff; /*三角箭头的颜色*/
	scrollbar-face-color:#eeeeee; /*立体滚动条的颜色（包括箭头部分的背景色）*/
	scrollbar-3dlight-color:#d7d7d7 ;  /*立体滚动条亮边的颜色*/
	scrollbar-highlight-color:#fff; /*滚动条的高亮颜色（左阴影？）*/
	scrollbar-shadow-color:#ffffff; /*立体滚动条阴影的颜色*/
	scrollbar-darkshadow-color:#d7d7d7; /*立体滚动条外阴影的颜色*/
}

.tree_box_foot {
	float: left;
	width: 100%;
	height: 38px;
	background:#fff;
	text-align: right;
	margin-top: 13px;
	padding-top:10px;
	border-top: 1px solid #dedede;
}

.tree_box_foot input {
	float: none;
	margin-right: 10px;
	width: 62px;
	height: 28px;
	border: 0;
	margin-top: 6px;
	text-align: center;
	cursor: pointer;
}
.tree_box_right_body_li{
	float:left;
	text-align: left;
	min-height:20px;
	max-height:20px;
	margin:0px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
white-space: nowrap;
	border: 0;
}
.tree_box_right_body_li_click{
	background: #FFF3C9;
	color:#7E6500;
}
/*弹出窗口开始*/

._win_div_root {
	width: 500px;
	height:500px;
	position: absolute;
	top: 5%;
	left: 20%;
	border: 1px solid #9cb8cd;
	background: #fff;
	overflow: hidden;
	margin: 0px auto;
	text-align: left;
	z-index: 1000;
}

._win_div_title {
	width: 100%;
	overflow: hidden;
	margin: 0px auto;
	float: left;
	height: 32px;
	line-height: 32px;
	font: bold 12px/32px "宋体";
	color: #2b70ab;
	overflow: hidden;
	background: url(../img/tree_title_right.jpg);
	text-align: left;
}

._win_div_title_text{
	overflow: hidden;
	margin: 0px auto;
	float: left;
	font: bolder 12px/32px "宋体";
	text-align: center;
	left:28px;
	color: #2b70ab;
}
._win_div_title_img{
	float: left;
	background: url(../img/tree_left_img.gif) no-repeat;
	margin-left:5px;
	margin-top:8px;
	width:15px;
	height: 15px;
	color: #2b70ab;
}
._win_div_title_close{
	background: url(../img/box_memu_close_over_this.gif) no-repeat;
	width: 15px;
	height: 15px;
	float: right;
	margin-top: 7px;
	right: 10px;
}
._win_document{
	overflow:hidden;
}
._win_document_body{
	overflow:auto;
	scrollbar-arrow-color: #7490ab;
	scrollbar-face-color: #cde1eb;
	scrollbar-3dlight-color:#d3e5ee;
	scrollbar-highlight-color: #d3e5ee;
	scrollbar-shadow-color: #c9dfea;
	scrollbar-darkshadow-color: #c9dfea;
	scrollbar-track-color: #ebf3f6;
	scrollbar-base-color: #ebf3f6;

}
._win_box_foot{
	overflow:hidden;
	overflow-y:hidden;
}

/*tabs*/
._tab_root{
	width:99%;
	margin-top: 5px;
}
._tab_header{
	width:99%;
	background: yellow;
}
._tab_box{
	width:99%;
	text-align: center;
	height:25px;
	padding-left: 10px;
	border-bottom: 1px #EAEAEA solid;
	margin-left: 10px;
}
._tab_menu_out{
	float: left;
	width:90px;
	hight:24px;
	border: 1px #EAEAEA solid;
	color:#666;
	background:url(../img/tab_over_bg_02.gif) left top repeat-x;
	font:normal 12px/24px "宋体";
	margin-left: 2px;
	cursor: pointer;
	border-bottom:0px;
}
._tab_menu_over{
	float: left;
	width:90px;
	hight:25px;
	top:2px;
	border: 1px #EAEAEA solid;
	border-bottom:none;
	background:url(../img/tab_over_bg.gif) left top repeat-x;
	color:#fff;
	font: bold 12px/25px "宋体";
	margin-left: 2px;
	cursor: pointer;
}
._tab_body{
	/*margin-top: 5px;*/
	text-align: left;
}
._ajax {
	position: absolute;
	top: 50%;
	left: 50%;
	background:#ebf3f6;
	overflow: hidden;
	margin: 0px auto;
	text-align: left;
	filter:alpha(opacity=25);-moz-opacity:0.25;opacity:0.25;
	width:100px;
	z-index: 29999999980;
}
._tab_menu_document{
	text-align: left;
}

.tree_box_3_opt{
	width:890px;
	left: 10%;
	top: 3%;
}
.tree_box_operate {
	float: left;
	width: 210px;
	height: 30px;
	background: #f9f9f9;
	overflow: hidden;
	padding: 5px;
	margin: 13px 29px 0 29px;
	border: 1px solid #d3d3d3;
	display: inline;
	text-align: center;
	margin-top: 13px;
	/*
	float: left;
	width: 210px;
	height:30px;
	font: 12px/30px "宋体";
	text-align: left;
	color: #333;
	background:#f9f9f9;
	padding-left:10px;
	border: 1px solid #d3d3d3;
	margin-bottom:5px;
	margin-top:13px;*/
}

.tree_box_operate input {
	float: none;
	margin-right: 10px;
	width: 63px;
	height: 28px;
	border: 0;
	margin-top: 3px;
	text-align: center;
	cursor: pointer;
}
.tree_left_title_2{
	margin-top: 5px;
}



ul.ztree { 
	background:#FFFF;
	width:auto;
	height:320px;
	overflow-y:auto;
	overflow-x:auto;
	margin:auto; 
	text-align:center;
	scrollbar-arrow-color:#ffffff; /*三角箭头的颜色*/
	scrollbar-face-color:#eeeeee; /*立体滚动条的颜色（包括箭头部分的背景色）*/
	scrollbar-3dlight-color:#d7d7d7 ;  /*立体滚动条亮边的颜色*/
	scrollbar-highlight-color:#fff; /*滚动条的高亮颜色（左阴影？）*/
	scrollbar-shadow-color:#ffffff; /*立体滚动条阴影的颜色*/
	scrollbar-darkshadow-color:#d7d7d7; /*立体滚动条外阴影的颜色*/
}

/* 左边树 */
.left_tree{ width:198px; float:left; border:solid 1px #dad9d9; margin-top:10px;}
.left_tree h3{ width:198px; float:left; border-bottom:solid 1px #dad9d9; background:#f4f4f4; height:30px; line-height:30px;}
.left_tree h3 b{ color:#333; float:left; margin-left:10px; display:inline;}
.left_tree h3 span{ float:right; display:inline;}
.left_tree h3 span a{ margin-right:10px; color:#3c86db;}
.left_tree_rolling{float:left; width:178px; padding:10px; height:500px; overflow-y:scroll;}
.left_tree_bottom{width:198px; float:left; height:30px; line-height:30px; text-align:right;border-top:solid 1px #dad9d9;}
.left_tree_bottom a{ padding-right:10px; color:#3c86db;}
.left_tree_new{ width:100%; float:left; border:solid 1px #dad9d9; margin:10px;}
.left_tree_new h3{ color:#333;width:100%; float:left; border-bottom:solid 1px #dad9d9; background:#f4f4f4; height:30px; line-height:30px;}
.left_tree_new h3 b{ color:#333; float:left; margin-left:10px; display:inline;}
.left_tree_new h3 span{ float:right; display:inline;}
.left_tree_new h3 span a{ margin-right:10px; color:#3c86db;}
.left_tree_new_rolling{float:left; width:90%; padding:10px; height:500px; overflow-y:scroll;}
.left_tree_new_bottom{width:100%; float:left; height:30px; line-height:30px; text-align:right;border-top:solid 1px #dad9d9;}
.left_tree_new_bottom a{ padding-right:10px; color:#3c86db;}
/*一级菜单在word上展示时遮罩用*/
._menu_lock_div {position: absolute;filter:alpha(opacity=25);-moz-opacity:0.25;opacity:0.25;z-index: 900;top: 0px;left: 4px;width: 500px;height: 459px;
}
