@charset "utf-8";
/* CSS Document */
body {margin:0; padding:0;font: normal 100% Helvetica, Arial, sans-serif; color:#333; background:#F3F3F3;}

div,ul,li,form,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,img,a,form,img,input{ margin:0; padding:0; list-style:none; }
a{ text-decoration:none;}
.clear{ clear:both;}
.box{ margin:auto; width:540px;}
.nav{ background:url(../image/bg01.png) left top repeat-x; height:63px; border-bottom:1px solid #fff; position:relative;} 
.nav li{ float:left; line-height:63px; color:#FFF;  font-weight:bold; font-size:18px; width:17%; text-align:center;} 
.nav li a{ float:left; width:99%; color:#FFF;}
.nav li a:hover,.nav li a:active{ background:url(../image/nav_onbgr02.png); text-align:center; color:#FFF; border-right:1px solid #79C0F4;}
a.more{ width:63px; height:63px; background:url(../image/more.png) right top no-repeat; float:right;}
.tophb{ text-align:center; margin:auto;  width:540px;}
.main{ width:95%; margin:auto; margin-top:10px; padding-bottom:62px;} 
/* 主体 */
.mainpart{float:left; width:100%;}
.mainpart01{ background:#6E8BE9; font-size:18px; color:#fff; font-weight:bold; height:52px; position:relative; } 
.mainpart01 a{ float:left; color:#fff; line-height:52px; margin:0 5px;} 
.mainpart01sub{ float:right; height:32px; margin-top:10px; width:310px; position:absolute; right:0;}
a.mainpart01sub01,a.mainpart01sub02,a.mainpart01sub03 { float:left; background:url(../image/ico.png) no-repeat; font-size:14px; height:32px; line-height:32px; padding-left:32px; margin-right:5px;}
a.mainpart01sub01{ background-position:0 0;} 
a.mainpart01sub02{ background-position:0 -41px;} 
a.mainpart01sub03{ background-position:0 -91px;} 
.mainlist { float:left; width:100%;}  
.mainlist li{ height:68px; width:100%; float:left; border-top:1px solid #fff; border-bottom:1px solid #D3D3D3;}  
.mainlist li span{ float:left; margin:10px 5px;}   
.mainlist li a{ line-height:24px; font-size:18px; color:#555; }
a.mainlistw{ width:65%; overflow:hidden; height:48px; float:left;  margin:10px 5px;}  
a.mainlistbut{ background:url(../image/but01.png) center top no-repeat; height:68px; width:50px; float:right;  } 

.mainpart02{ background:#89CD51; font-size:18px; color:#fff; font-weight:bold; height:52px; margin-top:10px; position:relative;} 
.mainpart02 a{ float:left; color:#fff; line-height:52px; margin:0 5px;}
.mainpart02sub{ float:right; height:32px; margin-top:10px;  width:310px; position:absolute; right:0;}
a.mainpart02sub01,a.mainpart02sub02,a.mainpart02sub03 { float:left; background:url(../image/ico.png) no-repeat; font-size:14px; height:32px; line-height:32px; padding-left:32px; margin-right:5px;}
a.mainpart02sub01{ background-position:0 -137px;} 
a.mainpart02sub02{ background-position:0 -186px;} 
a.mainpart02sub03{ background-position:0 -234px;} 
/*底部*/
.foot{ height:62px; border-top:1px solid #fff; position: fixed; bottom:0; left:50%; width:540px; margin-left:-270px; background:#F3F3F3;}
.foot li{ float:left; width:25%; height:62px; text-align:center; line-height:62px; border-top:1px solid #DFDFDF;} 
.foot li a{ float:left; height:62px; width:100%;  color:#666; font-weight:bold;}
.foot li a:hover{background:url(../image/footbg.png) left top repeat-x;}

/* 二级导航 */
.navsubmain{float:left; width:100%; margin-bottom:10px;}

a.navsubbut { float:left; height:34px; background:url(../image/footbg.png) left -167px repeat-x; padding:0 10px; border:1px solid #0991DD; line-height:34px; margin:0 6px; color:#FFF; font-weight:bold;}
/* 列表 */
.listtitle{ float:left; height:52px; background:#6E8BE9; font-size:18px; color:#fff; font-weight:bold; padding-top:5px; margin-bottom:10px; width:100%} 
.listtitleleft{ float:left; width:30%; line-height:24px; }
a.listtit,a.listtitsub{ float:left; color:#fff; margin:0px 10px;}  
a.listtit{ font-size:18px;}
a.listtitsub{ font-size:14px; color:#364C94;} 
.listsearch{ float:right; width:68%; margin-top:2px;} 
.listsearchinput{ float:right; height:40px; width:80%;}  
.listsearchbut{ background:url(../image/but02.png) left top no-repeat; width:40px; height:40px; float:right; border:none; cursor:pointer;} 
.listlist{ float:left; width:100%;}
.listlist li{ float:left; width:100%; background:url(../image/footbg.png) left -74px repeat-x; height:80px; border-top:1px solid #B0B0B0; border-bottom:1px solid #fff;} 
.listlistleft{ float:left; margin-left:10px; width:85%; text-align:left; margin-top:5px; height:70px; overflow:hidden; font-size:18px;}

a.listlisttit{ overflow:hidden; line-height:30px; color:#555;}
.listlisttext{  color:#777; line-height:20px;}
.listlisttextbut{ float:right; margin-top:8px;}


/* 全文详细 */
.listtext{ line-height:36px; color:#666; font-size:24px;}
.listtext h1{ text-align:center; background:url(../image/textfgxbg.png) left bottom repeat-x; padding:10px; margin-bottom:10px ; color:#555; line-height:40px; font-size:28px;}



/* 表格 */
.listbg{ border-left:1px solid #A6A6A6; border-top:1px solid #A6A6A6; text-align:center;font-size:18px;}
.listbg th{ height:46px; background:url(../image/footbg.png) left -205px repeat-x; border-left:1px solid #fff; border-bottom:1px solid #fff; border-right:1px solid #A6A6A6; border-bottom:1px solid #A6A6A6; color:#333; line-height:46px;}
.listbg td{ height:40px; line-height:40px;  border-left:1px solid #fff; border-bottom:1px solid #fff; border-right:1px solid #A6A6A6; border-bottom:1px solid #A6A6A6;}
.listbgtrwrite{ background:#fff;}