@CHARSET "UTF-8";
.the-icons li:hover {background-color:#EEEEEE;}
.the-icons .kos-icon-name{display: none;}
 .icon-erp_01{ background: url("erp_01.jpg");}
 .icon-erp_02{ background: url("erp_02.jpg");}
 .icon-erp_03{ background: url("erp_03.jpg");}
 .icon-erp_04{ background: url("erp_04.jpg");}
 .icon-erp_05{ background: url("erp_05.jpg");}
 .icon-erp_06{ background: url("erp_06.jpg");}
 .icon-erp_07{ background: url("erp_07.jpg");}
 .icon-erp_08{ background: url("erp_08.jpg");}